.section {
    background: #F2F2F2;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    border: .2rem solid #0D0D0D;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}



.first-row, .first-box {
    border: .2rem solid #0D0D0D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.estudiantes-txt {
    margin-bottom: 25px;
}
.second-box p {
    padding-top: 10px;
    margin-bottom: 50px;
}

.seleccion-semestre {
    padding-top: 40px;
}

.seleccion-semestre p,
.seleccion-semestre input {
    display: inline-block;
    vertical-align: auto;
    margin: 5px;
}

.seleccion-semestre p {
    width: 75%;
}
.seleccion-semestre input {
    width: 15%;
}


.third-box {
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.third-box .estudiantes-txt {
    margin-bottom: 20px;
}

.seleccion-estudiante input,
.seleccion-estudiante p {
    display: inline-block;
    vertical-align: auto;
    margin: 5px; /* Ajusta este valor según sea necesario para el espacio entre los elementos */
}

.seleccion-estudiante p {
    width: 75%;
}

.seleccion-estudiante input {
    width: 15%;
}

/* */

.estudiantes-btn {
    margin-top: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.estudiantes-btn p {
    display: inline-block;
    width: 30%;
}

.estudiantes-btn input {
    display: inline-block;
    width: 15%;
}


h3 {
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

h3:hover {
    color: #8FB0B5; /* Cambia este color según tus preferencias */
    animation: resaltar 0.5s ease-in-out;
}

@keyframes resaltar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes resaltar1 {
    0% {
        border-color: #ccc;
        background-color: #fff;
    }
    50% {
        border-color: #4CAF50;
        background-color: #f0fff0;
    }
    100% {
        border-color: #ccc;
        background-color: #fff;
    }
}

textarea, input {
    border: 1px solid #ccc;
}

textarea:hover, input:hover {
    animation: resaltar1 4s infinite;
}