.body {
    background-color: #D3D1D1;
}

.tittle-1 {
	padding-top: 60px;
	display: flex;
	position: relative;
	justify-content: center;
	text-align: center;
	height: 50px;
}
.selection-program {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}


.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}



.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}


/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}

.content-select{
	max-width: 250px;
	position: relative;
}

.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select select:hover{
	background: #B1E8CD;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
    opacity: 0.9;
}

.content-select:hover i{
	margin-top: 3px;
}

.resultados-tittle {
    background-color: #DF4C41;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

.tittle {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 5px;
    padding-top: 10px;
    border-radius: 8px;
    background-color: #DF4C41;
    color: #f6f6f6;
}

.resultados-container1 {
    padding-bottom: 20px;
}

.resultados-section {
    margin-top: 10px;
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.resultados-section:hover {
	box-shadow: 0 6px 10px #fff;
    transform: scale(1.01);
}

.slide-in-top {
	-webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-top {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-top {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  