<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<body>
    <header class="">
        <div>
            <span class="material-symbols-outlined" style="font-size: 80px;">
                home
                </span>
        </div>
        <div class="titulo">
            <h1>¡Bienvenido!</h1>
        </div>
        <div class="img">
            <img src="https://cdn-icons-png.flaticon.com/512/3561/3561373.png" alt="">
        </div>
        <div class="nombre">
            <p>Pepe Perez</p>
            <p>Director Ingeniería de Sistemas</p>
        </div>
    </header>

    <section>
        <div class="section-tittle">
            <h3>¡Bienvenido de vuelta Directo Pepe Perez!</h3>
            <h4>¿Que haremos el día de hoy?</h4>
        </div>
        <div class="ubicate-btn">
            <button class="btn" routerLink="/facultad">Ver resultados</button>
            <button class="btn" routerLink="/facultad">Agregar resultados</button>
            <button class="btn" routerLink="/facultad">Lista de estudiantes</button>
        </div>
    </section>
</body>