body {
    background-color: #D3D1D1;
}

.resultados-tittle {
    background-color: #DF4C41;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

.diagonal-container {
    position: relative;
    width: 99%;
    /* Ajusta el ancho según sea necesario */
    height: 80px;
    background-color: #3498db;
    /* Puedes ajustar el color de fondo */
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f6f6f6;
    /* Puedes ajustar el color del texto */
}

.tittle {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 5px;
    padding-top: 10px;
    background-color: #DF4C41;
    color: #f6f6f6;
}

.resultados-section {
    margin-top: 10px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}