<body>
    <header>
        <div class="resultados-tittle">
            <h3>Resultados</h3>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h4>Detalles del Programa</h4>
                    <p><strong>ID del programa:</strong></p>
                    <p>(ID)</p>
                    <p><strong>Nombre del programa:</strong></p>
                    <p>(Nombre del programa)</p>
                </div>
                <div class="col-md-6">
                    <h4>Detalles del Estudiante</h4>
                    <p><strong>ID del estudiante:</strong></p>
                    <p>(ID estudiante)</p>
                    <p><strong>Nombre del estudiante:</strong></p>
                    <p>(Nombre del estudiante)</p>
                </div>
            </div>
        </div>
    </header>
    <section>

        <div class="diagonal-container">
            <div class="content">
              <!-- Contenido dentro del cuadrado diagonal -->
              <p>Contenido aquí</p>
            </div>
          </div>
       
        <div class="container mt-5 resultados-section">
            <div class="tittle">
                <h2>Resultados de Competencia</h2>
            </div>
            <div class="row mt-4" style="margin-bottom: 20px;">
                <div class="col-md-2">
                    <h5>Competencia</h5>
                </div>
                <div class="col-md-2">
                    <h5>Saber Pro</h5>
                </div>
                <div class="col-md-2">
                    <h5>%Saber Pro</h5>
                </div>
                <div class="col-md-2">
                    <h5>Saber 11</h5>
                </div>
                <div class="col-md-2">
                    <h5>%Saber Pro</h5>
                </div>
                <div class="col-md-2">
                    <h5>%Variación</h5>
                </div>
            </div>

            <!-- Fila 1: Lectura Critica -->
            <div class="row mt-2">
                <div class="col-md-2">
                    <p>Lectura Crítica</p>
                </div>
                <div class="col-md-2">
                    <p>71</p>
                </div>
                <div class="col-md-2">
                    <p>(71/80)</p>
                </div>
                <div class="col-md-2">
                    <p>90</p>
                </div>
                <div class="col-md-2">
                    <p> (82/100)</p>
                </div>
                <div class="col-md-2">
                    <p>7%</p>
                </div>
            </div>

            <!-- Fila 2: Razonamiento cuantitativo -->
            <div class="row mt-2">
                <div class="col-md-2">
                    <p>Razonamiento Cuantitativo</p>
                </div>
                <div class="col-md-2">
                    <p>71</p>
                </div>
                <div class="col-md-2">
                    <p>(71/80)</p>
                </div>
                <div class="col-md-2">
                    <p>90</p>
                </div>
                <div class="col-md-2">
                    <p> (82/100)</p>
                </div>
                <div class="col-md-2">
                    <p>7%</p>
                </div>
            </div>

            <!-- Fila 3: Inglés -->
            <div class="row mt-2">
                <div class="col-md-2">
                    <p>Inglés</p>
                </div>
                <div class="col-md-2">
                    <p>71</p>
                </div>
                <div class="col-md-2">
                    <p>(71/80)</p>
                </div>
                <div class="col-md-2">
                    <p>90</p>
                </div>
                <div class="col-md-2">
                    <p> (82/100)</p>
                </div>
                <div class="col-md-2">
                    <p>7%</p>
                </div>
            </div>

            <!-- Fila 4: Competencias ciudadanas -->
            <div class="row mt-2">
                <div class="col-md-2">
                    <p>Competencias Ciudadanas</p>
                </div>
                <div class="col-md-2">
                    <p>71</p>
                </div>
                <div class="col-md-2">
                    <p>(71/80)</p>
                </div>
                <div class="col-md-2">
                    <p>90</p>
                </div>
                <div class="col-md-2">
                    <p> (82/100)</p>
                </div>
                <div class="col-md-2">
                    <p>7%</p>
                </div>
            </div>
        </div>

    </section>
    

    <div style="width: 200px; height: 200px;">
        <canvas id="doughnutChart"></canvas>
      </div>
      
</body>